#root{
    background-color: #1C1C26;
    width: 100%;
}

header{
    background-color: #D9D9D9;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;

    
    nav{
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;

        ul{
            display: flex;
            list-style: none;
            text-decoration: none;
            gap: 3rem;
            padding: 0;
            margin: 0;

            li{
                padding: 30px;
            }
            
            a{
                color: #10403B;
            }

            a:hover{
                text-decoration: none;
                color: #ffffff;
            }    
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    align-content: baseline;
    background-color: #D9D9D9;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    

    h1{
        text-align: left;
        margin: 30px;
        color: #10403B;
        text-transform: uppercase;
        font-size: 48px;
    }

    article{
        
        display: flex;
        margin: 30px;
        text-align: left;

        h3{
            color: #0D0D0D;
        }

        ul{
            list-style: none;


            li{
                text-decoration: none;
            }
        }
    }
}